### Specific to building Armbian ###
.vagrant/
ubuntu-*-cloudimg-console.log

### compile configurations added by users
config-*.conf
### but not default (supplied) example.conf
!config-example.conf

### output directories
output/
cache/
userpatches/

### General annoyances ###
.DS_Store
